{% extends "base.html" %}
{% block content %}
  
<form method="GET" action="{{ url_for('second.home') }}" class="d-flex mb-4">
    <input type="text" name="q" class="form-control" placeholder="Search title or author..." 
           value="{{ request.args.get('q', '') }}">
    <button class="btn btn-outline-info ms-2">Search</button>
</form>

<div class="mt-5">
   {% for post in posts.items %}
      <article class="media content-section">
         <img class="rounded-circle article-img" 
              src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}"
              alt="{{ post.author.username }} profile picture">

        <div class="media-body text-start"> 
          <div class="article-metadata">
            <a class="mr-2" href="{{ url_for('second.user_profile_view', username=post.author.username) }}">{{ post.author.username }}</a>
            <small class="text-muted">{{ post.date_posted }}</small>
          </div>

          <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
          <p class="article-content">{{ post.content }}</p>
        </div>
      </article>
   {% endfor %}

   <!-- Pagination -->
   {% for page_num in posts.iter_pages() %}
      {% if page_num %}
         <a class="btn btn-outline-info mb-4"
            href="{{ url_for('second.home', page=page_num, q=request.args.get('q')) }}">
            {{ page_num }}
         </a>
      {% else %}
      ... 
      {% endif %}
   {% endfor %}
</div>


{% endblock content %}
