{% extends "base.html" %}
{% block content %}
<h1>Create New Password</h1>

<form method="POST">
    <div class="mb-3">
        <label>New Password</label>
        <input type="password" name="password" class="form-control" required>
    </div>
    <div class="mb-3">
        <label>Confirm Password</label>
        <input type="password" name="confirm_password" class="form-control" required>
    </div>

    <button class="btn btn-info" type="submit">Reset Password</button>
</form>
{% endblock %}
